[submodule "COMMON-ATTACKS/Reentrancy-Attack/lib/forge-std"]
	path = COMMON-ATTACKS/Reentrancy-Attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "COMMON-ATTACKS/Reentrancy-Attack/lib/openzeppelin-contracts"]
	path = COMMON-ATTACKS/Reentrancy-Attack/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
